<!DOCTYPE html>
<html lang="en">
<head>
    <title>AssemblyScript | wasm | vue3 | calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script type="importmap">
    {
        "imports": {
            "vue": "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.35/vue.esm-browser.prod.min.js"
        }
    }
    </script>
</head>
<body>
<script type="text/x-template" id="calculator">
    <form>
        <h1 class="subtitle">AssemblyScript Calculator</h1>
        <label class="label">
            Term A:
            <input type="number" v-model="termA" class="input" autofocus @focus="onfocus">
        </label>
        <label class="label">
            Term B:
            <input type="number" v-model="termB" class="input" @focus="onfocus">
        </label>
        <label class="label">
            Sum of AB:
            <input type="number" :value="sum" class="input" readonly>
        </label>
        <fieldset class="box has-text-info-light has-background-info">
            <label>
                <input type="checkbox" v-model="debug" class="checkbox">
                Debug mode
            </label>
        </fieldset>
    </form>
</script>
<div id="app" class="container">
    <Calculator class="section"></Calculator>
</div>

<script type="module" src="src/app.mjs"></script>
</body>
</html>;